# Database
MONGODB_URI=mongodb+srv://izzetkeser359:t4zdYBDdU_Cgs7-@cluster0.wamvlli.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# Server
PORT=3000

# App Domain
APP_DOMAIN=http://localhost:3000/auth

# Brevo SMTP Configuration
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=izzetkeser359@gmail.com
SMTP_PASSWORD=8NAtbX2IgJGxFOPk
SMTP_FROM=izzetkeser359@gmail.com

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=Root
CLOUDINARY_API_KEY=434234598154848
CLOUDINARY_API_SECRET=Rbie0Fcoj7wPEbrO4K6eO3Ye8Mk
